{% extends "Basepage.html" %}
  {% block body %}
    {% block mainbody %}
      {% endblock mainbody %}
  {% endblock body %}
    <link rel="stylesheet" type="text/css" href="/static/datatables/buttons.dataTables.min.css">
    <link href="/static/datatables/dataTables.dataTables.min.css" rel="stylesheet">
    <link href="/static/datatables/ru.json" rel="stylesheet">
{% block MyJSscripts%}
    <script> let table = new DataTable('#myTable'); </script>
    <script> let table = new DataTable('#myTableworkers'); </script>
{% endblock %}
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}