{% if user.is_authenticated %}
  <div class="container">
          <header class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Webnet</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/logs.html">Логи</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Addr.html">Адреса</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Справочники</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/directory/addr">Справочник адресов</a>
                <a class="dropdown-item" href="#">Ещё какой-то справочник</a>
                <a class="dropdown-item" href="#">Ещё какой-то справочник</a>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav pull-xs-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span> {{user.username}}</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="nav-link" href="accounts/logout/">Выйти</a>
                  <a class="dropdown-item" href="#"></a>
                  <a class="dropdown-item" href="#"></a>
                </div>
              </li>
            </ul>
          </div>
          </header>
  </div>
  {% else %}
  <div class="container">
        <header class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Webnet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li>

              </li>
            </ul>
            <ul class="nav navbar-nav pull-xs-right">
              <li class="nav-item">
                <a class="nav-link" href="accounts/login">login</a>
              </li>
            </ul>
        </div>
        </header>
</div>
{% endif %}