 <p>Неолант</p>
    <button onclick='getform();'>Добавить</button>

    <table width="80%" border="1" id="myTable">
    <thead>
    <tr>
        <th>Имя</th>
        <th>MAC адрес</th>
        <th>Ip-adress</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr align="center" id="{{item.mac_addr}}">
            <td  align="right">
                {{item.time}}
            </td>
            <td>
                {% if item.name %}
                    {{item.name}}
                {% else %}
                    {{item.mac_addr}}
                {% endif %}
            </td>
            <td>
                {{item.ip_addr}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

