{% load static %}
<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/html">
  <head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block titleOut %}<title>{% block titleIn %}Webmet{% endblock %}</title>{% endblock %}
    {% block stylesheets %}
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main/css/main.css" rel="stylesheet">
    <link href="/static/fontawesomefree/css/all.min.css" rel="stylesheet">
    {% endblock %}

    {% block extra_headers %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block body %}
        {% block navheader %}
          {% include 'mainsrc/navbar.html' %}
        {% endblock %}

      <div class="row">
        <div class="col col-12">
          {% block messages %}
            {% include 'mainsrc/ermessages.html' %}
          {% endblock %}
        </div>
      </div>
      {% block outcontent %}
     <div class="row d-flex h-100">
        {% block incontent %}HI{% endblock %}
     </div>
      {% endblock %}
        {% block footer %}
            {% include 'mainsrc/footer.html' %}
        {% endblock %}
          {% block js %}
            <script src="/static/jquery/jquery.min.js"> </script>
            <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

          {% endblock %}
          {% block extrajs %}
          {% endblock %}
      {% endblock %}
    </div>
  </body>
</html>