{% extends "Basepage.html" %}
    {% block titleOut %}<title>{% block titleIn %}Webmet{% endblock %}</title>{% endblock %}
    {% block extra_headers %}{% endblock %}
  {% block basebody %}
    {% block mainbody %}
      <div class="container">
        <header class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Webnet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logs.html">Логи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Addr.html">Адреса</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Справочники</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/directory/addr">Справочник адресов</a>
              <a class="dropdown-item" href="#">Ещё какой-то справочник</a>
              <a class="dropdown-item" href="#">Ещё какой-то справочник</a>
              </div>
            </li>
          </ul>
        </div>
        </header>
      <main role="main">
        {% block content %}HI{% endblock %}
  <!--    <footer class="">-->
      <footer class="fixed-bottom">
        <div class="container mb-1" align="center">
          footer
        </div>
      </footer>
      {% block JSscripts%}
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %} "></script>
        <script src="{% static 'datatables/dataTables.min.js' %}"></script>
        <script type="text/javascript" charset="utf8" src="/static/datatables/dataTables.buttons.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/static/datatables/dataTables.select.min.js"></script>
      {% endblock %}
      {% block MyJSscripts%}
        <script> let table = new DataTable('#myTable'); </script>
        <script> let table = new DataTable('#myTableworkers'); </script>
      {% endblock %}
      {% endblock %}
    {% endblock %}
