{% extends "Basepage.html" %}
  {% block body %}
    {% block mainbody %}
      {% block navbar %}
        {% include 'mainsrc/navbar.html' %}
      {% endblock %}
        {% block content %}HI{% endblock %}
        {% block messages %}
          {% include 'mainsrc/ermessages.html' %}
        {% endblock %}
      <footer class="fixed-bottom">
        <div class="container mb-1" align="center">
          footer
        </div>
      </footer>
      {% block JSscripts%}
      {% block MyJSscripts%}
      {% endblock %}
      {% endblock %}
      {% endblock %}
  {% endblock %}
