{% extends "Basepage.html" %}

{% block extra_headers %}
    <link rel="stylesheet" type="text/css" href="/static/datatables/buttons.dataTables.min.css">
    <link href="/static/datatables/dataTables.dataTables.min.css" rel="stylesheet">
    <link href="/static/datatables/ru.json" rel="stylesheet">
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<h1 align="center">Домашняя страница</h1>
{% endblock %}
{% block JSscripts%}

{% endblock %}
{% block MyJSscripts%}
    <script> let table = new DataTable('#myTable'); </script>
    <script> let table = new DataTable('#myTableworkers'); </script>
{% endblock %}
