{% extends "Basepage.html" %}
{% block incontent %}


{% if user.is_authenticated %}
<div class="col col-12">
    <h1>Webnet главная страница</h1>
    {% include 'tables/addr.html' %}
</div>
<div id="Form"></div>
{% else %}
<div class="col justify-content-center align-self-center"><h1 align="center">Для доступа к сайту <a href="/accounts/login/">зайдите в аккаунт</a></h1></div>
{% endif %}
{% endblock %}
{% block extrajs %}
<script type="text/javascript" charset="utf8" src="/static/Index/JSscripts/ScriptsForDir.js"></script>
{% endblock %}




















